'menu': [{
    'label': 'amWiki文库',
    'submenu': [{
        'label': '通过 “config.json” 创建新文库',
        'command': 'amWiki:create'
    }, {
        'label': '手动更新当前文库导航文件',
        'command': 'amWiki:makeNav'
    }, {
        'label': '提取h2、h3标题为页内目录',
        'command': 'amWiki:catalogue'
    }, {
        'label': '- 本地web服务器 -',
        'submenu': [{
            'label': '启动本地静态web服务器',
            'command': 'amWiki:runServer'
        }, {
            'label': '在浏览器打开当前文档',
            'command': 'amWiki:browser'
        }]
    }]
}]