'menu': [{
    'label': 'amWiki轻文库',
    'submenu': [{
        'label': '通过 "config.json" 创建新文库',
        'command': 'amWiki:create'
    }, {
        'type': 'separator'
    }, {
        'label': '提取 h2,h3 标题为篇内目录',
        'command': 'amWiki:catalogue'
    }, {
       'label': '从剪切板粘贴截图',
       'command': 'amWiki:paste'
    }, {
        'label': '手动更新当前文库导航文件',
        'command': 'amWiki:makeNav'
    }, {
        'label': '手动更新当前文库页面挂载数据',
        'command': 'amWiki:makeMut'
    }, {
        'type': 'separator'
    }, {
        'label': '启动本地静态 Web 服务器',
        'command': 'amWiki:runServer'
    }, {
        'label': '在浏览器打开当前文档',
        'command': 'amWiki:browser'
    }, {
        'type': 'separator'
    }, {
        'label': '导出当前文库为 Github Wiki',
        'command': 'amWiki:export.gitHub'
    }, {
        'type': 'separator'
    }, {
        'label': '关于 amWiki',
        'command': 'amWiki:about'
    }]
}]