@charset "utf-8";


/* ---------- custom markdown ---------- */
.markdown-body{font-size:14px;}
.markdown-body h1{border-bottom:1px solid #ddd;}
.markdown-body code{padding-top:0.15em;padding-bottom:0.15em;margin:0 1px;font-size:90%;color:#000;background-color:rgba(0,0,0,0.05);}
.markdown-body code.hljs{color:#333;word-wrap:break-word;white-space:pre-wrap;}
.markdown-body .hljs-string{color:#183691;}
.markdown-body .hljs-built_in{color:#0086b3;}
.markdown-body code.lang-flow svg{max-width:100%;margin-top:-10px;}
.markdown-body .anchor{margin-right:2px;margin-left:-20px;}
.markdown-body blockquote{padding:8px 15px;background-color:#fafafa;}
.markdown-body .anchor{padding-top:10px;margin-top:-10px;}
.markdown-body .anchor img{visibility:hidden;}
.markdown-body h1:hover .anchor img,.markdown-body h2:hover .anchor img,.markdown-body h3:hover .anchor img{visibility:visible;}
.markdown-body :not(.anchor)>img:hover{outline:rgba(0,0,0,.05) 1px solid;box-shadow:1px 1px 1px rgba(0,0,0,.1);}
.markdown-body pre{position:relative;}
.markdown-body .lang-off-js-comment{display:none;position:absolute;top:0;right:0;width:27px;height:27px;color:#ccc;text-align:center;line-height:27px;background:#f0f0f0;cursor:pointer}
.markdown-body pre:hover .lang-off-js-comment{display:block;}
.markdown-body .lang-off-js-comment i{position:absolute;top:0;left:0;width:27px;height:27px;font-size:22px;color:#ddd;text-align:center;line-height:27px;}
.markdown-body .lang-off-js-comment:hover{color:#999;background:#ddd;}
.markdown-body .lang-off-js-comment:hover i{color:#999;}
.markdown-body .lang-off-js-comment.on{display:block;color:#333;background:#ccc;}
.markdown-body .lang-off-js-comment.on i{color:#f00;}

/* ---------- base ---------- */
body{background:#e7e8eb;}

/* ---------- header ---------- */
.header{width:100%;height:80px;font-family:Microsoft YaHei,STXihei,STHeiti,Verdana,Arial,Helvetica,sans-serif;;background:#fff;border-top:#007ed9 6px solid;border-bottom:#c3c4c6 1px solid;}
.header .header-inner{height:80px;margin:0 30px;}
.header .logo{float:left;padding-top:20px;}
.header .logo img{float:left;margin-left:5px;max-height:33px;}
.header .logo b{float:left;max-width:470px;height:33px;margin:0 0 0 3px;padding-left:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:24px;font-weight:normal;color:#666;background:url(../images/point.png) no-repeat left;}
.header .logo span{float:left;padding:0 3px;margin:1px 0 0 2px;font-size:xx-small;color:#fff;background:#bbbbbb;}
.header .icon_menu{display:none;}

/* ---------- container ---------- */
.container{position:relative;min-height:500px;margin:30px;overflow:hidden;background:url(../images/menubar_bg.png) repeat-y #fff;border:#c3c4c6 1px solid;    border-top:#4296eb 2px solid;}

.container .nav{position:relative;left:auto;top:auto;width:250px;}
.menu-filter{box-sizing:content-box;position:absolute;top:0;left:0;z-index:10;width:176px;height:37px;padding-left:35px;background:url(../images/icon_filter.png) 13px 14px no-repeat;}
.menu-filter input{display:block;box-sizing:content-box;width:140px;height:19px;padding:0 25px 0 2px;margin-top:10px;line-height:20px;font-size:14px;background:none;border:none;border-bottom:#e0e0e0 1px dashed;}
.menu-filter input:focus{outline:none;border-bottom:#f27318 1px solid;}
.menu-filter:hover input{border-bottom:#f27318 1px solid;}
.menu-filter ::-ms-clear{display:none !important;width:0;height:0;}
.menu-filter ::-webkit-input-placeholder{color:#ccc;font-size:13px;}
.menu-filter :-moz-placeholder{color:#ccc;font-size:13px;}
.menu-filter ::-moz-placeholder{color:#ccc;font-size:13px;}
.menu-filter :-ms-input-placeholder{color:#ccc;font-size:13px;}

.menu-filter i{display:block;box-sizing:content-box;position:absolute;top:0px;right:0px;width:23px;padding:2px 10px 0;font-size:25px;text-align:center;color:#ccc;cursor:pointer;}
.menu-filter i:hover{color:#e6660d;}
.menu-filter i.off{display:none;}

.menu-fold{display:block;position:absolute;top:0;right:1px;z-index:11;width:39px;height:37px;background:url(../images/icon_to_unfolding.png) 13px 12px no-repeat;border-left:1px solid #D9D9D9;cursor:pointer;}
.menu-fold.on{background-image:url(../images/icon_to_folding.png);}
.menu-fold:hover{background-color:#f4f5f9;}

.menubar{float:left;position:relative;width:250px;height:100%;padding-top:38px;font-family:Microsoft YaHei,STXihei,STHeiti,Verdana,Arial,Helvetica,sans-serif;;border-right:1px solid #e7e7eb;}
.menubar h4,.menubar h5{display:block;height:37px;margin:-1px 0 0;padding:0 10px 0 30px;font-size:14px;font-weight:normal;color:#333;line-height:37px;text-shadow:#666 1px 0 0;border:1px solid #D9D9D9;border-width:1px 0;cursor:pointer;}
.menubar h4{background:url(../images/icon_home.png) 13px 13px no-repeat;}
.menubar h4.on{background-image:url(../images/icon_home2.png);}
.menubar h4:hover{background-color:#f4f5f9;}
.menubar h4 a{display:block;height:36px;color:#333;text-decoration:none;}
.menubar h4.on a{color:#007ed9;}
.menubar h5{background:url(../images/icon_arrow_gray.png) 11px 13px no-repeat;}
.menubar h5.on{background-image:url(../images/icon_arrow_blue.png);background-position:12px 10px;}
.menubar ul{display:none;margin:0;padding:0;list-style:none;}
.menubar ul li{position:relative;}
.menubar ul li.off{display:none;}
.menubar ul li a{display:block;padding:0 20px 0 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:30px;font-size:12px;color:#333;text-indent:45px;text-decoration:none;-webkit-transition-duration:.3s;transition-duration:.3s;}
.menubar ul li:nth-child(1) a{padding-top:2px;}
.menubar ul li:last-child a{padding-bottom:2px;}
.menubar ul li a:hover{background:#f4f5f9;-webkit-transition-duration:0s;transition-duration:0s;}
.menubar ul li a.on{color:#007ed9;background:#f4f5f9;}
.menubar ul li a.on:after{display:block;position:absolute;top:0px;right:0px;width:2px;height:30px;content:" ";background:#4296eb;}
.menubar ul li:nth-child(1) a.on:after{height:32px;}
.menubar ul li:last-child a.on:after{height:32px;}

.main{position: relative;padding:45px;margin-left:250px;}

/* ---------- testing ---------- */
.testing-show{position:absolute;top:0;right:0;padding:15px;cursor:pointer;}
.testing-show span{color:#4078c0;}
.testing-box{display:none;width:100%;background-color:#fff;}
.testing-box h2{position:relative;padding:2px 10px;margin:5px 0;color:#fff;background-color:#85bcf2;}
.testing-box h2:after{position:absolute;top:0;right:-45px;width:45px;height:100%;content:" ";background-color:#85bcf2;}
.testing-box h2 small{position:absolute;top:0;right:0;font-size:14px;line-height:38px;font-weight:normal;}
.testing-send{width:100%;max-width:800px;padding:20px 0 35px 25px;}
.testing-send input{height:30px;padding:0 3px;font-family:Microsoft YaHei,STXihei,STHeiti,Verdana,Arial,Helvetica,sans-serif;;line-height:30px;}
.testing-send input:hover{background:#f4f5f9;}
.testing-send-url{width:75%;color:#000;border:none;border-bottom:1px solid #ccc;}
.testing-send-type{margin-left:10px;height:30px;line-height:30px;}
.testing-send h3{padding:25px 0 0;font-weight:normal;line-height:30px;font-size:14px;}
.testing-param{width:100%;margin-bottom:10px;}
.testing-params li{list-style:none;padding:10px 0 13px;}
.testing-params li span{display:block;line-height:16px;color:#999;}
.testing-params li input{color:#000;background:none;border:none;border-bottom:1px solid #ccc;}
.testing-param-key{width:35%;max-width:214px;}
.testing-param-val{width:50%;}
.testing-params li input + big{visibility:hidden;margin:0 10px;color:red;vertical-align:bottom;font-size:20px;line-height:22px;}
.testing-params li input[required] + big{visibility:visible;}
.testing-params li em{display:none;width:20%;margin-top:0;padding:0 3px;font-style:normal;line-height:28px;color:red;}
.testing-btn{height:30px;padding:20px 0 40px;}
.testing-btn button{height:30px;padding:0 10px;margin:0 2px;line-height:30px;}
.testing-btn .testing-btn-send{margin-left:0px;padding:0 20px;}
.testing-btn2 hr{border-bottom:1px dashed #aaa;}
.testing-btn2 .testing-btn-param{display:inline-block;height:30px;padding:0 10px 0 0;line-height:30px;cursor:pointer;}
.testing-btn2 .testing-btn-param span{color:#4078c0;}
.testing-response{padding:20px 0 10px 25px;}

/* ---------- global ---------- */
.testing-global{display:none;position:absolute;top:0;right:0;z-index:100;width:100%;height:100%;background:rgba(0,0,0,.2);}
.testing-global-param{position:absolute;top:200px;left:50%;width:500px;max-width:90%;-webkit-transform:translateX(-50%);transform:translateX(-50%);background:#fff;box-shadow:rgba(0,0,0,.3) 0px 1px 3px;}
.testing-global-param .close{position:absolute;top:-20px;right:-20px;width:40px;height:40px;overflow:hidden;line-height:40px;text-align:center;color:#333;font-size:30px;background:#fff;border-radius:50%;cursor:pointer;-moz-user-select:none;-webkit-user-select:none;user-select:none;}
.testing-global-param .close:hover{color:#f27318;background:#f8f8f8;}
.testing-global-param h4{line-height:30px;padding:25px 25px 0;text-indent:2px;}
.testing-global-param h4 small{margin-left:10px;font-weight:normal;color:#aaa;}
.testing-global-param ul{padding:15px 25px;list-style:none;}
.testing-global-param li{position:relative;margin-bottom:10px;padding:10px;border:#eee 1px solid;}
.testing-global-param input{height:30px;margin-bottom:3px;line-height:30px;border:none;border-bottom:#ccc 1px solid;background:none;}
.testing-global-param li i{display:block;position:absolute;top:0;right:0;width:30px;height:30px;line-height:30px;font-size:22px;color:#999;text-align:center;background:#f2f2f2;cursor:pointer;-moz-user-select:none;-webkit-user-select:none;user-select:none;}
.testing-global-param li i:hover{color:#ff3333;}
.testing-global-param li big{margin:0 10px;color:red;vertical-align:bottom;font-size:20px;line-height:22px;}
.testing-global-param .btn{padding:0 25px 25px;text-align:right;}
.testing-global-param .btn button{height:30px;padding:0 10px;line-height:28px;}
.testing-global-param .btn .save{padding:0 20px;}
.testing-global-working{float:left;position:relative;left:2px;width:100px;height:30px;background:#e5ebff;border:#b8b8b8 1px solid;border-radius:1px;-webkit-transition-duration:.3s;transition-duration:.3s;cursor:pointer;}
.testing-global-working.off{background:#ebebeb;}
.testing-global-working i{position:absolute;top:0;right:0;height:100%;width:50%;background:#fff;border-radius:1px;box-shadow:1px 0px 4px rgba(0,0,0,.3);-webkit-transition-duration:.3s;transition-duration:.3s;}
.testing-global-working.off i{right:50%;box-shadow:-1px 0px 4px rgba(0,0,0,.3);}
.testing-global-working span{float:left;width:50%;line-height:30px;text-align:center;color:#338ccc;text-shadow:1px 1px rgba(255,255,255,.75);box-shadow:inset 0px 0px 4px rgba(12,60,90,.3);}
.testing-global-working span:nth-of-type(2){float:right;color:#666;text-shadow:1px 1px rgba(255,255,255,.5);box-shadow:inset 0px 0px 4px rgba(0,0,0,.3);}

/* ---------- backTop ---------- */
.back-top{position:fixed;bottom:100px;right:7px;z-index: 9900;height:40px;width:40px;background:#f4f5f9;border:1px solid #ccc;}
.back-icon{display:block;position:relative;width:32px;height:36px;margin:2px auto;border-bottom:4px #aaa solid;overflow:hidden;-webkit-transform:scale(.5) rotate(180deg);-moz-transform:scale(.5) rotate(180deg);-o-transform:scale(.5) rotate(180deg);-ms-transform:scale(.5) rotate(180deg);}
.back-icon:before{content:'';height:14px;width:14px;display:block;border:#aaa solid;border-width:0 6px 6px 0;position:absolute;bottom:7px;left:6px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);z-index:98;}
.back-icon:after{content:'';height:22px;width:12px;display:block;background:#aaa;position:absolute;top:0px;left:10px;z-index:98;}
.back-text{display:none;position:absolute;top:0;left:0;z-index:99;margin:5px;font-family:Microsoft YaHei,STXihei,STHeiti,Verdana,Arial,Helvetica,sans-serif;font-size:11px;text-align:center;letter-spacing:2px;line-height:14px;background-color:#f4f5f9;cursor:pointer;}
.back-text:hover{text-decoration:none;}
.back-top:hover .back-icon{border:none;}
.back-top:hover .back-text{display:block;color:#aaa;}


/* ---------- response ---------- */
@media screen and (max-width:720px){
	body{min-width:320px;width:100%;}

	/* ---------- custom markdown ---------- */
	.markdown-body h1:hover .anchor img,.markdown-body h2:hover .anchor img,.markdown-body h3:hover .anchor img{visibility:hidden;}
	.markdown-body h1:active .anchor img,.markdown-body h2:active .anchor img,.markdown-body h3:active .anchor img{visibility:visible;}

	/* ---------- header ---------- */
	.header{position:fixed;left:0;top:0;z-index:9999;height:50px;border-top:#007ed9 3px solid;}
	.header .header-inner{height:50px;}
	.header .logo{width:100%;padding-top:13px;}
	.header .logo img{height:18px;}
	.header .logo b{max-width:40%;height:auto;padding-left:8px;font-size:14px;background-size:4px 4px;}
	.header .logo span{margin:-5px 0 0 0;-moz-transform:scale(0.8);-webkit-transform:scale(0.8);-o-transform:scale(0.8);transform:scale(0.8);}
	.header .menu_icon{display:block;position:absolute;right:0;top:0;z-index:1;width:40px;height:47px;}
	.header .menu_icon span{display:block;width:40px;height:47px;}
	.header .menu_icon span.menu_icon_start{background:url(../images/icon_menu.png) no-repeat center;}
	.header .menu_icon span.close_icon{background:url(../images/icon_close.png) no-repeat center;}

	.container{position:relative;margin:50px auto 0;overflow:hidden;background:#fff;border:none;}
	/*左侧菜单*/
	.container .nav{display:none;position:fixed;left:0;top:50px;z-index:9999;width:100%;height:100%;padding-bottom:30px;background:rgba(0,0,0,0.8);overflow-y:scroll;}

	.menu-filter{width:100%;padding-right:39px;background:url(../images/icon_filter.png) 13px 14px no-repeat;background-color:none;box-sizing:border-box;}
	.menu-filter input{width:90%;width:-moz-calc(100% - 39px);width:-webkit-calc(100% - 39px);width:calc(100% - 39px);color:#fff;background:none;border:none;border-bottom:#999 1px dashed;}
	.menu-filter i{right:50px;padding:2px 0 0 10px;}
	.menu-fold:hover{background-color:transparent;}
	.menu-fold:active{background-color:#f4f5f9;}

	.menubar{width:100%;height:auto;padding-bottom:50px;border-right:none;}
	.menubar i{border-top:1px solid #999;}
	.menubar i:hover{background-color:transparent;}
	.menubar i:active{background-color:#8c8888;}
	.menubar h4,.menubar h5{color:#f5f5f5;border-top:1px solid #999999;border-bottom:none;cursor:pointer;}
	.menubar h4:hover{background-color:#8c8888;}
	.menubar h4 a{color:#f5f5f5;}
	.menubar h4.on a{color:#fff;}
	.menubar ul li a{color:#f5f5f5;}
	.menubar ul li a.on{color:#fff;background:#8c8888;}
	.menubar ul li a:hover{color:#fff;background:#8c8888;}

	.main{width:100%;padding:25px;margin-left:0;box-sizing:border-box;}

	/* ---------- testing ---------- */
	.testing-show{position:fixed;top:3px;right:40px;z-index:11000;height:46px;padding:0 10px;line-height:47px;background:#fff;}
    .testing-box{width:-webkit-calc(100% + 10px);width:-moz-calc(100% + 10px);width:calc(100% + 10px);margin-left:-5px;}
    .testing-send{padding:20px 10px 35px;}
	.testing-send-url{width:70%;}
	.testing-param-val{width:45%;}
	.testing-btn button{font-size:12px;padding:0 5px;}
	#testingBtnSend{padding: 0 15px;}
	.testing-response{padding:20px 10px 10px;}

	/* ---------- backTop ---------- */
	.back-top {border-radius: 50%;bottom: 10px;}
	.back-top:hover .back-icon{border-bottom:4px #aaa solid;}
	.back-top:hover .back-text{display: none;}

}