@charset "utf-8";


/* ---------- custom markdown ---------- */
.markdown-body{font-size:14px;}
.markdown-body h1{border-bottom:1px solid #ddd;}
.markdown-body code{padding-top:0.15em;padding-bottom:0.15em;margin:0 1px;font-size:90%;color:#000;background-color:rgba(0,0,0,0.05);}
.markdown-body code.hljs{color:#333;word-wrap:break-word;white-space:pre-wrap;}
.markdown-body .hljs-string{color:#183691;}
.markdown-body .hljs-built_in{color:#0086b3;}
.markdown-body .anchor{margin-right:2px;margin-left:-20px;}
.markdown-body blockquote{padding:8px 15px;background-color:#fafafa;}
.markdown-body .anchor{padding-top:10px;margin-top:-10px;}
.markdown-body .anchor img{visibility:hidden;}
.markdown-body h1:hover .anchor img,.markdown-body h2:hover .anchor img,.markdown-body h3:hover .anchor img{visibility:visible;}
.markdown-body :not(.anchor)>img:hover{outline:rgba(0,0,0,.05) 1px solid;box-shadow:1px 1px 1px rgba(0,0,0,.1);}
.markdown-body pre{position:relative;}
.markdown-body .lang-off-js-comment{display:none;position:absolute;top:0;right:0;width:27px;height:27px;color:#ccc;text-align:center;line-height:27px;background:#f0f0f0;cursor:pointer}
.markdown-body pre:hover .lang-off-js-comment{display:block;}
.markdown-body .lang-off-js-comment i{position:absolute;top:0;left:0;width:27px;height:27px;font-size:22px;color:#ddd;text-align:center;line-height:27px;}
.markdown-body .lang-off-js-comment:hover{color:#999;background:#ddd;}
.markdown-body .lang-off-js-comment:hover i{color:#999;}
.markdown-body .lang-off-js-comment.on{display:block;color:#333;background:#ccc;}
.markdown-body .lang-off-js-comment.on i{color:#f00;}

/* ---------- base ---------- */
body{background:#e7e8eb !important;min-width:720px;}

/* ---------- header ---------- */
.header{width:100%;height:80px;font-family:'微软雅黑';background:#fff;border-top:#007ed9 6px solid;border-bottom:#c3c4c6 1px solid;}
.header .header-inner{max-width:1200px;width:100%;height:80px;margin:0 auto;}
.header .logo{float:left;padding-top:20px;}
.header .logo img{float:left;margin-left:5px;max-height:33px;}
.header .logo b{float:left;max-width:470px;height:33px;margin:0 0 0 3px;padding-left:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:24px;font-weight:normal;color:#666;background:url(../images/point.png) no-repeat left;}
.header .logo span{float:left;padding:0 3px;margin:1px 0 0 2px;font-size:xx-small;color:#fff;background:#bbbbbb;}
.header .icon_menu{display:none;}

/* ---------- container ---------- */
.container{position:relative;max-width:1200px;width:100%;min-height:500px;margin:50px auto;overflow:hidden;background:url(../images/menubar_bg.png) repeat-y #fff;border:#d9dadc 1px solid;}

.container .nav{position:relative;left:auto;top:auto;width:250px;}
.menu-filter{box-sizing:content-box;position:absolute;top:0;left:0;z-index:10;width:176px;height:37px;padding-left:35px;background:url(../images/icon_filter.png) 13px 14px no-repeat;}
.menu-filter input{display:block;box-sizing:content-box;width:140px;height:19px;padding:0 25px 0 2px;margin-top:10px;line-height:20px;font-size:14px;background:none;border:none;border-bottom:#e0e0e0 1px dashed;}
.menu-filter input:focus{outline:none;border-bottom:#0b8be5 1px solid;}
.menu-filter:hover input{border-bottom:#0b8be5 1px solid;}
.menu-filter ::-ms-clear{display:none !important;width:0;height:0;}
.menu-filter ::-webkit-input-placeholder{color:#ccc;font-size:13px;}
.menu-filter :-moz-placeholder{color:#ccc;font-size:13px;}
.menu-filter ::-moz-placeholder{color:#ccc;font-size:13px;}
.menu-filter :-ms-input-placeholder{color:#ccc;font-size:13px;}

.menu-filter i{display:block;box-sizing:content-box;position:absolute;top:0px;right:0px;width:23px;padding:2px 10px 0;font-size:25px;text-align:center;color:#ccc;cursor:pointer;}
.menu-filter i:hover{color:#e6660d;}
.menu-filter i.off{display:none;}

.menu-fold{display:block;position:absolute;top:0;right:1px;z-index:11;width:39px;height:37px;background:url(../images/icon_to_unfolding.png) 13px 12px no-repeat;border-left:1px solid #D9D9D9;cursor:pointer;}
.menu-fold.on{background-image:url(../images/icon_to_folding.png);}
.menu-fold:hover{background-color:#f4f5f9;}

.menubar{float:left;position:relative;width:250px;height:100%;padding-top:38px;font-family:'微软雅黑';border-right:1px solid #e7e7eb;}
.menubar h4,.menubar h5{display:block;height:37px;margin:-1px 0 0;padding:0 10px 0 30px;font-size:14px;font-weight:normal;color:#333;line-height:37px;text-shadow:#666 1px 0 0;border:1px solid #D9D9D9;border-width:1px 0;cursor:pointer;}
.menubar h4{background:url(../images/icon_home.png) 13px 13px no-repeat;}
.menubar h4:hover{background-color:#f4f5f9;}
.menubar h4 a{display:block;height:36px;color:#333;text-decoration:none;}
.menubar h4.on a{color:#007ed9;}
.menubar h5{background:url(../images/icon_arrow_gray.png) 11px 13px no-repeat;}
.menubar h5.on{background-image:url(../images/icon_arrow_blue.png);background-position:12px 10px;}
.menubar ul{display:none;margin:0;padding:0;list-style:none;}
.menubar ul li.off{display:none;}
.menubar ul li a{display:block;padding:0 20px 0 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:30px;font-size:12px;color:#333;text-indent:45px;text-decoration:none;}
.menubar ul li:nth-child(1) a{padding-top:2px;}
.menubar ul li:last-child a{padding-bottom:2px;}
.menubar ul li a:hover{background:#f4f5f9;}
.menubar ul li a.on{color:#007ed9;background:#f4f5f9;}

.main{padding:45px;margin-left:250px;}

/* ---------- response ---------- */
@media screen and (max-width:720px){
	body{min-width:100%;}

	/* ---------- custom markdown ---------- */
	.markdown-body h1:hover .anchor img,.markdown-body h2:hover .anchor img,.markdown-body h3:hover .anchor img{visibility:hidden;}
	.markdown-body h1:active .anchor img,.markdown-body h2:active .anchor img,.markdown-body h3:active .anchor img{visibility:visible;}

	/* ---------- header ---------- */
	.header{position:fixed;left:0;top:0;z-index:9999;height:50px;border-top:#007ed9 3px solid;}
	.header .header-inner{height:50px;}
	.header .logo{width:100%;padding-top:13px;}
	.header .logo img{height:18px;}
	.header .logo b{max-width:40%;height:auto;padding-left:8px;font-size:14px;background-size:4px 4px;}
	.header .logo span{margin:-5px 0 0 0;-moz-transform:scale(0.8);-webkit-transform:scale(0.8);-o-transform:scale(0.8);transform:scale(0.8);}
	.header .menu_icon{display:block;position:absolute;right:0;top:0;z-index:1;width:40px;height:47px;}
	.header .menu_icon span{display:block;width:40px;height:47px;}
	.header .menu_icon span.menu_icon_start{background:url(../images/icon_menu.png) no-repeat center;}
	.header .menu_icon span.close_icon{background:url(../images/icon_close.png) no-repeat center;}

	.container{position:relative;margin:50px auto 0;overflow:hidden;background:#fff;border:none;}
	/*左侧菜单*/
	.container .nav{display:none;position:fixed;left:0;top:50px;z-index:9999;width:100%;height:100%;padding-bottom:30px;background:rgba(0,0,0,0.8);overflow-y:scroll;}

	.menu-filter{width:100%;padding-right:39px;background:url(../images/icon_filter.png) 13px 14px no-repeat;background-color:none;box-sizing:border-box;}
	.menu-filter input{width:90%;width:-moz-calc(100% - 39px);width:-webkit-calc(100% - 39px);width:calc(100% - 39px);color:#fff;background:none;border:none;border-bottom:#999 1px dashed;}
	.menu-filter i{right:50px;padding:2px 0 0 10px;}
	.menu-fold:hover{background-color:transparent;}
	.menu-fold:active{background-color:#f4f5f9;}

	.menubar{width:100%;height:auto;padding-bottom:50px;border-right:none;}
	.menubar i{border-top:1px solid #999;}
	.menubar i:hover{background-color:transparent;}
	.menubar i:active{background-color:#8c8888;}
	.menubar h4,.menubar h5{color:#f5f5f5;border-top:1px solid #999999;border-bottom:none;cursor:pointer;}
	.menubar h4:hover{background-color:#8c8888;}
	.menubar h4 a{color:#f5f5f5;}
	.menubar h4.on a{color:#fff;}
	.menubar ul li a{color:#f5f5f5;}
	.menubar ul li a.on{color:#fff;background:#8c8888;}
	.menubar ul li a:hover{color:#fff;background:#8c8888;}

	.main{width:100%;padding:25px;margin-left:0;box-sizing:border-box;}

}