@charset "utf-8";

/* ---------- box ---------- */
.search-box *{font-family:Microsoft YaHei,STXihei,STHeiti,Verdana,Arial,Helvetica,sans-serif;}
.search-box{display:none;position:absolute;top:0;right:0;z-index:10;width:100%;height:100%;padding:45px;background-color:#fff;}

/* ---------- search-update ---------- */
.search-update{float:right;width:350px;max-width:100%;}
.search-update .text{position:relative;width:100%;padding-right:140px;text-align:right;font-size:12px;line-height:20px;}
.search-update .text:after{position:absolute;right:122px;top:9px;width:1px;height:24px;background:#ccc;content:' ';}
.search-update .text p{margin:0;}
.search-update .text time{display:inline-block;white-space:nowrap;}
.search-update .text b{margin-right:5px;}
.search-update .text span{display:inline-block;margin-left:5px;white-space:nowrap;}
.search-update .text i{font-style:normal;}
.search-update input{position:relative;z-index:10;float:right;margin-top:6px;padding:4px 12px;}
.search-update input[disabled]{padding:5px 13px;color:#ccc;background:#f2f2f2;border:#aaa 1px solid;border-radius:1px;}
.search-update.off .text:after,.search-update.off .text span,.search-update.off .text i,.search-update.off input{display:none;}
.search-update.off .text b {margin-right:0;}
.search-update.off .text{padding-right:5px;}

.search-box h2{height:65px;color:#666;font-size:24px;font-weight:normal;}

/* ---------- search-input ---------- */
.search-input{position:relative;padding-right:110px;padding-bottom:30px;}
.search-input input[type="text"]{display:inline-block;width:100%;padding:10px;font-size:16px;border:#ccc 1px solid;outline:none;}
.search-input input[type="text"]:focus{border:@colour-light 1px solid;box-shadow:@colour-light 0px 0px 2px;}
.search-input input[type="button"]{position:absolute;top:0;right:0;width:106px;height:44px;text-align:center;line-height:38px;font-size:18px;}
.search-input input[type="button"][disabled]{color:#ccc;background:#f2f2f2;border:#aaa 1px solid;border-radius:1px;}

/* ---------- search-results ---------- */
.search-results{overflow-y:scroll;background:#eee;border-top:#eee 1px solid;border-bottom:#eee 1px solid;}
.search-result-message{display:none;padding-top:50px;text-align:center;color:#777;font-size:22px;line-height:35px;}
.search-list{list-style:none;padding:18px 16px 5px;}
.search-item{margin-bottom:14px;background:#fff;border:#e6e6e6 1px solid;}
.search-item:hover{border:#d9d9d9 1px solid;box-shadow:rgba(0,0,0,.1) 0 0 2px;}
.search-item a:hover{text-decoration:none;}
.search-item .content{padding:12px 14px 6px;}
.search-item .content strong{display:block;padding:2px 0 5px 0;font-size:16px;color:#333;line-height:23px;font-weight:normal;}
.search-item .content p{margin:0 0 6px;color:#666;font-size:14px;}
.search-item .content p.p1{margin:1px 0 7px;overflow:hidden;line-height:24px;white-space:nowrap;text-overflow:ellipsis;background:#f8f8f8;border-radius:2px;}
.search-item .content em{float:left;padding:0 5px;margin:1px 5px 0 1px;line-height:22px;font-style:normal;font-size:12px;color:#fff;background:#ccc;border-top-left-radius:2px;border-bottom-left-radius:2px;}
.search-item .content mark{color:red;background:none;}
.search-item .bottom{position:relative;padding:0 14px;line-height:30px;color:#999;border-top:#e6e6e6 1px solid;background:#fafafa;}
.search-item .bottom p{margin:0;padding-right:200px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.search-item .bottom .time{position:absolute;top:0;right:14px;}
.search-result-more{display:none;margin:0 16px 18px;color:#999;text-align:center;line-height:40px;font-size:16px;letter-spacing:1px;background:#fafafa;border:#e6e6e6 1px solid;cursor:pointer;}
.search-result-more:active{padding-top:1px;line-height:39px;}

/* ---------- search response ---------- */
@media screen and (max-width:950px){
    .search-box h2{clear:both;height:90px;padding-top:30px;}
    .search-item .bottom p{padding-right:0;line-height:32px;}
    .search-item .bottom .time{position:static;right:auto;padding-bottom:8px;line-height:16px;}
}
@media screen and (max-width:375px){
    .search-box h2{height:100px;padding-top:40px;}
    .search-update .text{clear:both;padding-right:0;padding-top:10px;}
    .search-update .text:after{display:none;content:'';}
    .search-input{padding-right:90px;}
    .search-input input[type="button"]{width:86px;}
}
@media screen and (max-width:720px){
    .search-box{height:auto;min-height:100%;}
}